<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link href="/style.css" rel="stylesheet" type="text/css" />

<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/assets/site.webmanifest">
<link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#293134">
<link rel="shortcut icon" href="/assets/favicon.ico">
<meta name="msapplication-TileColor" content="#ec7600">
<meta name="msapplication-TileImage" content="/assets/mstile-144x144.png">
<meta name="msapplication-config" content="/assets/browserconfig.xml">
<meta name="theme-color" content="#293134">

<meta property="theme-color" content="#EC7600" />
<meta property="og:type" content="website" />
<meta property="og:image" content="/assets/logo.png" />

<meta property="og:site_name" content="Fellow Hashbrown" />
<meta property="og:url" content="https://fellowhashbrown.com<%= page.endpoint %>" />
<meta property="og:description" content="<%= page.description %>" />
<meta property="og:title" content="<%= page.title %>" />
<title><%- page.title %></title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/scripts/updateLogic.js"></script>
<script data-ad-client="ca-pub-9887889241051427" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>