<div class="topnav <% if (breadcrumbs.length > 0) { %> no-border <% } %>">
    <!-- <button class="openbutton" id="openbutton" onclick="navigation()"> -->
        <svg id="hamburger" class="ham ham2" onclick="navigation()" viewBox="12 2 100 100" width="50">
        <path
                class="line top"
                d="m 70,33 h -40 c -6.5909,0 -7.763966,-4.501509 -7.763966,-7.511428 0,-4.721448 3.376452,-9.583771 13.876919,-9.583771 14.786182,0 11.409257,14.896182 9.596449,21.970818 -1.812808,7.074636 -15.709402,12.124381 -15.709402,12.124381" />
        <path
                class="line middle"
                d="m 30,50 h 40" />
        <path
                class="line bottom"
                d="m 70,67 h -40 c -6.5909,0 -7.763966,4.501509 -7.763966,7.511428 0,4.721448 3.376452,9.583771 13.876919,9.583771 14.786182,0 11.409257,-14.896182 9.596449,-21.970818 -1.812808,-7.074636 -15.709402,-12.124381 -15.709402,-12.124381" />
        </svg>
    <!-- </button> -->
    <img src="/assets/logo.png" class="icon-image">
</div>
<% if (breadcrumbs.length > 0) { %>
    <div class="breadcrumbs">
        <span id="breadcrumbs"><%- breadcrumbs %></span>
    </div>
<% } %>
<div id="navbar" class="navbar">
    <div>
        <a href="/">home</a>
        <button class="dropdown-button">projects</button>
        <div class="dropdown-content">
            <button class="dropdown-button">bots</button>
            <div class="dropdown-content">
                <a href="/projects/bots/discordBots">discord bots</a>
            </div>
            <a href="/projects/games">games</a>
            <a href="/projects/logic">logic</a>
            <button class="dropdown-button">minecraft projects</button>
            <div class="dropdown-content">
                <a href="/projects/minecraftProjects/bedrockEdition">bedrock</a>
                <a href="/projects/minecraftProjects/javaEdition">java</a>
            </div>
        </div>
        <a href="/downloads">downloads</a>
        <a href="https://api.fellowhashbrown.com" target="_blank">api</a>
        <!--<a href="https://astronomy.fellowhashbrown.com" target="_blank">astronomy</a>-->
    </div>
</div>