@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Thasadith');

/* Global Variables */
:root {
  --background: rgba(32, 32, 32, 0.75);
}

*, *::before, *::after {
  box-sizing: border-box;
}

.body {
    background-color: #293134;
    margin: 0px;
}

/* - - - Navigation Styles - - - */

.topnav {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    border-bottom: 1px solid #808080;
    background-color: #202020;
    display: flex;
}

.breadcrumbs {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #202020;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 1px solid #808080;
    display: flex;
}

.breadcrumbs span {
    padding-left: 1%;
    align-self: flex-end;
    color: #E0E2E4;
    transition: margin-left 0.3s;
    font-family: 'Cutive Mono', monospace;
}

.navbar { 
    height: 100%;
    width: 0;
    max-width: 200px;
    display: block;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    justify-content: left;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.3s;
}

.navbar a, .dropdown-button {
    top: 0;
    left: 0;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 2vw;
    color: #678CB1;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    font-family: 'Cutive Mono', monospace;
}

.navbar a:hover, .dropdown-button:hover {
    color: #EC7600;
}

.navbar .dropdown-content a {
    font-size: 2vw;
}

.navbar * {
    padding: 5px;
}

.openbutton {
    position: absolute;
    width: 25px;
    height: 75px;
    margin: 0;
    background-color: #202020;
    color: white;
    border: 1px solid #808080;
    border-radius: 5px;
    font-family: 'Cutive Mono', monospace;
    font-size: 1vw;
    transition: margin-left 0.3s;
}

.openbutton:hover {
    background-color: #678CB1;
}

.active {
    color: #EC7600;
}

.dropdown-content {
    display: none;
    border: 1px solid #808080;
    border-radius: 5px;
    background-color: #1C1C1C;
    padding-left: 8px;
}

.no-border {
    border: 0;
}

/* - - - Scrollbar Styles - - -*/

::-webkit-scrollbar {
    width: 15px;
    background-color: #293134;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 1px solid #808080;
    background-color: #202020;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #293134;
}

/* - - - Footer Styles - - - */

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 100px;
  color: #E0E2E4;
  background: #293134;
}

.footer {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
    height: 100px;
    width: 100%;
    display: flex;
  
	color: #E0E2E4;
    background: #202020;
  
    justify-content: center;
  
    font-family: 'Thasadith';
    font-weight: normal;
    font-size: 1.5em;
  
    border-top: 1px solid #808080;
}

.footer small {
    background: #202020;
}

/* - - - Page/Section Styles - - - */

.title, .section {
    font-family: 'Cutive Mono', monospace;
    font-weight: normal;
    color: #E0E2E4;
    text-align: center;
    font-size: 3.5vw;
}

.section {
    padding-left: 10%;
    text-align: left;
    font-size: 2.5vw;
}

.section-link {
    text-decoration: none;
    color: #E0E2E4;
    transition: font-style 0.3s ease;
}

.section-link:hover {
    font-style: italic;
}

.title-block, .section-block {
    padding: 5px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    text-align: center;
    background: #202020;
    border: 1px solid #808080;
    border-radius: 5px;
    font-family: 'Cutive Mono', monospace;
    font-size: 2vw;
}

.section-block {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    font-size: 1.5vw;
}

.center {
    padding-left: 0;
    text-align: center;
}

/* - - - Sub-section Styles - - - */

.social-button {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	text-decoration: none;
	margin-left: 1%;
}

.social-button:before {
	pointer-events: none;
	position: absolute;
	z-index: 3;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}

.social-button:hover, .social-button:focus, .social-button:active {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.social-button:hover:before, .social-button:focus:before, .social-button:active:before {
	opacity: 1;
}

.social-image {
	width: 5vw;
	height: 5vw;
}

/* - - - Other Custom Styles - - - */

.link {
    text-decoration: none;
    font-weight: bolder;
    font-style: italic;
    color: #678CB1;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.link:hover {
    color: #EC7600;
}

.code-field {
    color: #678CB1;
}

.code-string {
    color: #EC7600;
}

.code-class {
    visibility: visible;
}

.code-new {
    color: #93C763;
}

.code-object {
    color: #FFCD22;
}

.icon-image {
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid #808080;
    border-radius: 50%;
    background-color: #293134;
}

/* - - - API Styles - - - */


.api-responses {
    font-weight: normal;
    list-style-type: none;
}

.api-response-label, input, ul.api-response {
    display: none;
}

label {
    position: relative;
    display: block;
    cursor: pointer;
}

input:checked~ul.api-response {
    display: block;
}

.api-response-code {
    background-color: #A0A0A0;
    border-radius: 5px;
    color: #101010;
}

.api-json-response {
    border: 1px solid #808080;
    border-radius: 5px;
    background-color: #101010;
    width: fit-content;
}

/* - API Parameter Table - */

.required {
    color: red;
}

.code-block {
    overflow: auto;
    white-space: nowrap;
    border: 1px solid #808080;
    border-radius: 5px;
}

.api-parameter-table {
	border-collapse: collapse;
	width: 100%;
}

.api-parameter-table {
	font-size: 1.5vw;
}

.api-parameter-table th {
	border: 1px solid #808080;
	text-align: center;
}

.api-parameter-table td {
    border: 1px solid #808080;
    text-align: left;
}

.api-parameter-table tr:first-child th {
	border-top: 0;
}

.api-parameter-table tr:last-child td {
	border-bottom: 0;
}

.api-parameter-table tr td:first-child,
.api-parameter-table tr th:first-child {
	border-left: 0;
}

.api-parameter-table tr td:last-child,
.api-parameter-table tr th:last-child {
	border-right: 0;
}

/* - - - Responsive Styles - - - */

@media only screen and (max-width: 786px) {

    /* - - - Other Custom Styles - - - */

    .code-class {
        display: none;
    }

    /* - - - Navigation Styles - - - */

    .navbar {
        max-width: 25%;
        padding-top: 15px;
    }

    .navbar a, .navbar .dropdown-button {
        font-size: 3vw;
    }

    .navbar .dropdown-content a {
        font-size: 3vw;
    }

    .openbutton {
        font-size: 3vw;
    }

    .breadcrumbs {
        visibility: hidden;
    }

    .no-border {
        border-bottom: 1px solid #808080;
    }

    /* - - - Page/Section Styles - - - */

    .title {
        font-size: 5vw;
    }

    .section {
        font-size: 4vw;
        padding-left: 1%;
    }

    .title-block {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        font-size: 4.5vw;
    }

    .section-block {
        margin-left: 1%;
        margin-right: 1%;
        width: 98%;
        font-size: 3.5vw;
    }

    /* - - - API Style - - - */

    .api-parameter-table {
        font-size: 2.5vw;
    }
}