<!DOCTYPE html>
<html>
    <head>
        <%- include ('../partials/head.html') %>
    </head>
    <body class="body">

        <!--Top Bar and Navigation Sidebar-->
        <%- include ('../partials/nav.html') %>

        <!--Content-->
        <div class="content">
            <%- include ('../partials/page.html') %>

            <a class="anchor" name="about"></a>
            <h2 class="section">
                <code class="code-field">about me</code>
            </h2>
            <div class="section-block">
                greetings! this is my developer website :) <br>
                my name is jonah, in august of 2021, i received my bachelor's degree in computer science with a concentration in software engineering. <br>
                you'll find projects, my social media accounts, and APIs that i've written on my website. just use the navigation button on the top left!
            </div>

            <a class="anchor" name="social"></a>
            <h2 class="section">
                <code class="code-field">socials</code>
            </h2>
            <div class="section-block">
                i am available on a few social media sites, gaming platforms, and a few developer websites. if you'd like, go ahead and go to them <br> <br>
                <div style="text-align: center;">
                    <a href="https://instagram.com/FellowHashbrown" class="social-button" target="_blank"><img src="/assets/instagram.png" class="social-image"></a>
                    <a href="https://twitter.com/FellowHashbrown" class="social-button" target="_blank"><img src="/assets/twitter.png" class="social-image"></a>
                    <a href="https://steamcommunity.com/id/FellowHashbrown" class="social-button" target="_blank"><img src="/assets/steam.png" class="social-image"></a>
                    <a href="https://twitch.tv/FellowHashbrown" class="social-button" target="_blank"><img src="/assets/twitch.png" class="social-image"></a>
                    <a href="https://pypi.org/user/FellowHashbrown" class="social-button" target="_blank"><img src="/assets/python.png" class="social-image"></a>
                    <a href="https://github.com/FellowHashbrown" class="social-button" target="_blank"><img src="/assets/github.png" class="social-image"></a>
                    <a href="https://repl.it/@FellowHashbrown" class="social-button" target="_blank"><img src="/assets/replit.png" class="social-image"></a>
                    <a href="https://npmjs.com/~fellowhashbrown" class="social-button" target="_blank"><img src="https://i.imgur.com/Dbmgxkw.jpg" class="social-image"></a>
                </div>
            </div>

            <a class="anchor" name="twitch"></a>
            <h2 class="section">
                <code class="code-field">twitch schedule</code>
            </h2>
            <div class="section-block">
                i stream on twitch every tuesday, wednesday, and thursday at 6pm EST.
                here's a little visual of my stream schedule so you can join in and watch if it fits your vibe!
                <div class="section-block" style="background: #293134; margin: 0; width: 100%; justify-content: center; display: flex;">
                    <div class="section-block" style="margin: 0 1% 0 1%; color: #EC7600;">
                        <h3>Tuesday</h3>
                        6pm est / 3pm pst
                    </div>
                    <div class="section-block" style="margin: 0 1% 0 1%; color: #678CB1;"> 
                        <h3>Wednesday</h3>
                        6pm est / 3pm pst
                    </div>
                    <div class="section-block" style="margin: 0 1% 0 1%; color: #FF0AFF;">
                        <h3>Thursday</h3>
                        6pm est / 3pm pst
                    </div>
                </div>
            </div>

            <a class="anchor" name="discord"></a>
            <h2 class="section">
                <code class="code-field">discord</code>
            </h2>
            <div class="section-block">
                my discord server is where you can make a suggestion or report a bug in any of my projects or APIs. <br>
                i <em>do</em> primarily use it for my twitch so i think you might as well follow me on twitch too yes? <br>
                if you're a developer like me, there are also some channels for you to get help.
                don't hesitate to mention me in the server for anything!
                <iframe src="https://discord.com/widget?id=823074373236949032&theme=dark" class="section-block" width="100%" height="500px" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            </div>

        </div>

        <script src="/script.js"></script>
    </body>
    
    <%- include('../partials/footer.html') %>

</html>