f<!DOCTYPE html>
<html>
    <head>
        <%- include ('../../../partials/head.html') %>
    </head>
    <body class="body">

        <!--Top Bar and Navigation Sidebar-->
        <%- include ('../../../partials/nav.html') %>

        <!--Content-->
        <div class="content">
            <%- include ('../../../partials/page.html') %>

            <% if (closed) { %>
                <a class="anchor" name="oof"></a>
                <h2 class="section">
                    <code class="code-field">oof</code>
                </h2>
                <div class="section-block">
                    <strong>my mod applications are currently closed.</strong> if you'd like to stay up to date on when applications may open up, 
                    you can join my <a href="/discord" class="link">discord server</a> because i announce that kind of stuff there :)
                </div>

            <% } else { %>
                <a class="anchor" name="loggedInAs"></a>
                <h2 class="section">
                    <code class="code-field">logged in as</code>
                </h2>
                <div class="section-block">
                    I use discord to help me ease up the application process for my current mods and I. <br>
                    Don't worry, the only thing I know is your username and your discord ID :) <br>
                    <br>
                    You are currently logged in as <strong><script>
                        function getCookie(cname) {
                            let name = cname + "=";
                            let decodedCookie = decodeURIComponent(document.cookie);
                            let ca = decodedCookie.split(';');
                            for(let i = 0; i <ca.length; i++) {
                                let c = ca[i];
                                while (c.charAt(0) == ' ') { c = c.substring(1); }
                                if (c.indexOf(name) == 0) { return c.substring(name.length, c.length); }
                            }
                            return "";
                        }
                        document.write(`${getCookie("discordUN")}#${getCookie("discordDI")}`)
                    </script></strong>
                </div>

                <a class="anchor" name="basicInfo"></a>
                <h2 class="section">
                    <code class="code-field">basic info</code>
                </h2>
                <div class="section-block">
                    <form id="basic_info_form">
                        <label for="discoveryText">
                            How did you find me?
                            <textarea class="page-form-input" id="discoveryText" style="width: 100%; resize: none"></textarea>
                        </label><br>
                        <label for="purposeText">
                            Why do you want to mod for me?
                            <textarea class="page-form-input" id="purposeText" style="width: 100%; resize: none"></textarea>
                        </label><br>
                    </form>
                    <button class="page-form-button" onclick="parent.location='#discordServer'">Continue</button>
                </div>

                <a class="anchor" name="discordServer"></a>
                <h2 class="section">
                    <code class="code-field">discord server</code>
                </h2>
                <div class="section-block">
                    <div class="section-block" style="background: #293134">
                        <form id="discord_server_form_activity">
                            <em>How active are you in my discord server?</em><br>
                            <label for="activityWeekly">
                                <input type="radio" id="activityWeekly" name="activity" value="once or twice a week" />
                                About once or twice a week
                            </label>
                            <label for="activityDaily">
                                <input type="radio" id="activityDaily" name="activity" value="once a day or so" />
                                About once a day or so
                            </label>
                            <label for="activityHourly">
                                <input type="radio" id="activityHourly" name="activity" value="pretty active" />
                                I'm usually pretty active
                            </label>
                        </form>
                    </div><br>
                    <div class="section-block" style="background: #293134">
                        <form id="discord_server_form_improvements">
                            <em>Do you see any place for improvement on my discord server?</em><br>
                            <label for="improvementMinimal">
                                <input type="radio" id="improvementMinimal" name="improvement" value="minimal" />
                                Not really
                            </label>
                            <label for="improvementSomewhat">
                                <input type="radio" id="improvementSomewhat" name="improvement" value="somewhat" />
                                I see a few things that could use some improvement
                            </label>
                            <label for="improvementDefinitely">
                                <input type="radio" id="improvementDefinitely" name="improvement" value="definitely" />
                                Definitely! I've got ideas
                            </label>
                        </form>
                    </div><br>
                    <div class="section-block" style="background: #293134">
                        <form id="discord_server_form_admin">
                            <em>Are you good with bot configurations, permissions, etc.?</em><br>
                            <label for="adminNone">
                                <input type="radio" id="adminNone" name="admin" value="nope" />
                                No I'm not skilled with stuff like that
                            </label>
                            <label for="adminSome">
                                <input type="radio" id="adminSome" name="admin" value="a little bit" />
                                I'm able to do a few things here and there
                            </label>
                            <label for="adminAll">
                                <input type="radio" id="adminAll" name="admin" value="yes definitely" />
                                I've done it before / Yes I understand this
                            </label>
                        </form>
                    </div>
                    <button class="page-form-button" onclick="parent.location='#twitchStream'">Continue</button>
                </div>

                <a class="anchor" name="twitchStream"></a>
                <h2 class="section">
                    <code class="code-field">twitch stream</code>
                </h2>
                <div class="section-block">
                    <div class="section-block" style="background: #293134">
                        <form id="twitch_form_experience">
                            <em>Have you done any twitch modding for another streamer? Current or past, counts!</em><br>
                            <label for="modNone">
                                <input type="radio" id="modNone" name="mod" value="nope" />
                                This would be my first time
                            </label>
                            <label for="modSome">
                                <input type="radio" id="modSome" name="mod" value="yes" />
                                Yes, here's some of them: <textarea class="page-form-input" style="width: 100%; resize: none" id="previous_mods"></textarea>
                            </label>
                        </form>
                    </div><br>
                    <div class="section-block" style="background: #293134">
                        <form id="twitch_form_availability_tuesday">
                            <em>How often are you available on twitch on Tuesdays?</em> <strong>You don't have to be available all the time to be considered</strong><br>
                            <label for="tuesday_not_at_all">
                                <input type="radio" id="tuesday_not_at_all" name="tuesday" value="not at all" />
                                Not at all
                            </label> 
                            <label for="tuesday_usually">
                                <input type="radio" id="tuesday_usually" name="tuesday" value="usually" />
                                Usually, yes
                            </label>
                            <label for="tuesday_all_the_time">
                                <input type="radio" id="tuesday_all_the_time" name="tuesday" value="all the time" />
                                All the time duhhh
                            </label>
                        </form>
                    </div><br>
                    <div class="section-block" style="background: #293134">
                        <form id="twitch_form_availability_wednesday">
                            <em>How often are you available on twitch on Wednesdays?</em> <strong>You don't have to be available all the time to be considered</strong><br>
                            <label for="wednesday_not_at_all">
                                <input type="radio" id="wednesday_not_at_all" name="wednesday" value="not at all" />
                                Not at all
                            </label> 
                            <label for="wednesday_usually">
                                <input type="radio" id="wednesday_usually" name="wednesday" value="usually" />
                                Usually, yes
                            </label>
                            <label for="wednesday_all_the_time">
                                <input type="radio" id="wednesday_all_the_time" name="wednesday" value="all the time" />
                                All the time duhhh
                            </label>
                        </form>
                    </div><br>
                    <div class="section-block" style="background: #293134">
                        <form id="twitch_form_availability_thursday">
                            <em>How often are you available on twitch on Thursdays?</em> <strong>You don't have to be available all the time to be considered</strong><br>
                            <label for="thursday_not_at_all">
                                <input type="radio" id="thursday_not_at_all" name="thursday" value="not at all" />
                                Not at all
                            </label> 
                            <label for="thursday_usually">
                                <input type="radio" id="thursday_usually" name="thursday" value="usually" />
                                Usually, yes
                            </label>
                            <label for="thursday_all_the_time">
                                <input type="radio" id="thursday_all_the_time" name="thursday" value="all the time" />
                                All the time duhhh
                            </label>
                        </form>
                    </div>
                    <button class="page-form-button" onclick="parent.location='#hypotheticals'">Continue</button>
                </div>

                <a class="anchor" name="hypotheticals"></a>
                <h2 class="section">
                    <code class="code-field">hypotheticals</code>
                </h2>
                <div class="section-block">
                    <form id="hypotheticals_form">
                        <label for="sensitive">
                            Let's say someone sent a message in twitch or discord that revolves around a sensitive subject. What would you do?<br>
                            <textarea class="page-form-input" id="sensitive" style="width: 100%; resize: none"></textarea>
                        </label><br>
                        <label for="nsfw">
                            Someone sends an NSFW meme in the discord server. How do you handle it?<br>
                            <textarea class="page-form-input" id="nsfw" style="width: 100%; resize: none"></textarea>
                        </label><br>
                        <label for="vc">
                            Someone in VC is saying nasty stuff. What do you do next?<br>
                            <textarea class="page-form-input" id="vc" style="width: 100%; resize: none"></textarea>
                        </label><br>

                        <label for="charlie">
                            Put a banana in ... ?<br>
                            <textarea class="page-form-input" id="charlie" style="width: 100%; resize: none"></textarea>
                        </label><br>
                        <label for="llamas">
                            My stomach has the rumblies that ... ?<br>
                            <textarea class="page-form-input" id="llamas" style="width: 100%; resize: none"></textarea>
                        </label><br>
                        <label for="favorite_tik_tok">
                            Paste the link to your favorite tik tok (if it violates server rules, i swear)<br>
                            <textarea class="page-form-input" id="favorite_tik_tok" style="width: 100%; resize: none"></textarea>
                        </label><br>
                    </form>
                    <button class="page-form-button" onclick="submitModForm()">Submit</button>
                </div>
            <% } %>

        </div>

        <script src="/script.js"></script>
        <script src="/scripts/sendModForm.js"></script>
    </body>
    <%- include('../../../partials/footer.html') %>
</html>