<!DOCTYPE html>
<html>
    <head>
        <%- include ('../../../partials/head.html') %>
    </head>
    <body class="body">

        <!--Top Bar and Navigation Sidebar-->
        <%- include ('../../../partials/nav.html') %>

        <!--Content-->
        <div class="content">
            <%- include ('../../../partials/page.html') %>

            <a class="anchor" name="nothing"></a>
            <h2 class="section">
                <code class="code-field">emptiness :(</code>
            </h2>
            <div class="section-block">
                it looks like this page is currently empty. maybe something will be here soon ;)
            </div>

        </div>

        <script src="/script.js"></script>
    </body>
    <%- include ('../../../partials/footer.html') %>
</html>