<!DOCTYPE html>
<html>
    <head>
        <%- include ('../../../partials/head.html') %>
    </head>
    <body class="body">

        <!--Top Bar and Navigation Sidebar-->
        <%- include ('../../../partials/nav.html') %>

        <!--Content-->
        <div class="content">
            <%- include ('../../../partials/page.html') %>

            <a class="anchor"name="bedrockEdition"></a>
            <h2 class="section center">
                <a href="/coding/minecraftProjects/bedrockEdition" class="section-link">
                    <code class="code-field">bedrock edition</code>
                </a>
            </h2>

            <a class="anchor"name="javaEdition"></a>
            <h2 class="section center">
                <a href="/coding/minecraftProjects/javaEdition" class="section-link">
                    <code class="code-field">java edition</code>
                </a>
            </h2>

        </div>

        <script src="/script.js"></script>
    </body>
    <%- include('../../../partials/footer.html') %>
</html>