<!DOCTYPE html>
<html>
    <head>
        <%- include ('../../../partials/head.html') %>
    </head>
    <body class="body">

        <!--Top Bar and Navigation Sidebar-->
        <%- include ('../../../partials/nav.html') %>

        <!--Content-->
        <div class="content">
            <%- include ('../../../partials/page.html') %>

            <a name="2054"></a>
            <h2 class="section">
                <span class="code-class"><code class="code-field">games</code>.</span><code class="code-field">2054</code>();
            </h2>
            <div class="section-block">
                2054 is a game i'm currently developing that's set in the future (2054 to be exact what a surprise!). <br>
                below is a blog of updates that i will use every so often to post about 2054 <br>
                <iframe src="https://fellowhashbrown.tumblr.com/tagged/2054" width="100%" height="500px" frameBorder="0" style="border: 1px solid #808080; border-radius: 5px;"></iframe>
            </div>

        </div>

        <script src="/script.js"></script>
    </body>
    <%- include ('../../../partials/footer.html') %>
</html>