<!DOCTYPE html>
<html>
    <head>
        <%- include ('../../partials/head.html') %>
    </head>
    <body class="body">

        <!--Top Bar and Navigation Sidebar-->
        <%- include ('../../partials/nav.html') %>

        <!--Content-->
        <div class="content">
            <%- include ('../../partials/page.html') %>

            <a class="anchor" name="bots"></a>
            <h2 class="section">
                <code class="code-field">bots</code>
            </h2>
            <div class="section-block">
                sometimes i'll work on bots for some tools online. so far, i have only developed a discord bot which you can see below! <br>
                if i continue to make more bots for things like reddit, twitch, etc. they will be listed here!

                <ul style="list-style: none;">
                    <li><a class="link" href="/coding/bots/discordBots#omegaPsi">Omega Psi</a></li>
                </ul>
            </div>

            <a class="anchor" name="logic"></a>
            <h2 class="section">
                <code class="code-field">logic</code>
            </h2>
            <div class="section-block">
                in my sophomore year of college, i took a discrete mathematics course that introduced me to boolean algebra (in a way). the following semester, i took a class
                based around digital design and that class introduced me to the quine-mccluskey algorithm which helps to reduce a boolean expression of any size. <br>
                <br>
                and then, my boolean algebra codebase was written! i have it written in a few different languages including, so far, Python, Java, and JavaScript. 
                when i have time, i try to work on other languages implementations to be more flexible as far as programming languages goes.<br>
                <br>
                you can take a look at all my code for it on my <a class="link" href="https://github.com/fh-logician">github organization</a><br>
                <br>
                i also have a <a class="link" href="/coding/downloads#logician">download section</a> for it for Windows and MacOS!
            </div>

            <a class="anchor" name="games"></a>
            <h2 class="section">
                <code class="code-field">games</code>
            </h2>
            <div class="section-block">
                i haven't had time to start coming up with a unique game idea but once i have one, or any, they will appear here :) <br>
                <br>
                you can also stay tuned more about stuff like this either on my discord or any social media of mine which you can easily get to on my home page!
            </div>

            <a class="anchor" name="others"></a>
            <h2 class="section">
                <code class="code-field">others</code>
            </h2>
            <div class="section-block">
                this is really just a section for projects of mine that don't really have a place above! <br>
                <br>
                <ul style="list-style: none;">
                    <li><a class="link" href="/coding/others#mediaQueue">Media Queue</a></li>
                </ul>
            </div>

        </div>

        <script src="/script.js"></script>
    </body>
    
    <%- include('../../partials/footer.html') %>

</html>