<!DOCTYPE html>
<html>
    <head>
        <%- include ('../../../../partials/head.html') %>
    </head>
    <body class="body">

        <!--Top Bar and Navigation Sidebar-->
        <%- include ('../../../../partials/nav.html') %>

        <!--Content-->
        <div class="content">
            <%- include ('../../../../partials/page.html') %>

            <a class="anchor" name="omegaPsi"></a>
            <h2 class="section">
                <code class="code-field">Omega Psi</code>
            </h2>
            <div class="section-block">
                Omega Psi is a discord bot that i developed and have been working on since september of 2018.
                there are all sorts of commands and minigames in the bot and i am always open to suggestions and feedback. <br>
                if you'd like to explore the commands and such in omega psi, <a href="https://omegapsi.fellowhashbrown.com" class="link">here</a> is a link to it! <br>
                if you like the bot, <a href="https://discord.com/oauth2/authorize?client_id=535587516816949248&scope=bot&permissions=519232" class="link">invite</a> it to your own server!

                below is my discord server and a list of updates made to Omega Psi, take a look at them! <br>
                <iframe src="https://discord.com/widget?id=770795715483140147&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                <br><br>

                <div style="text-align: center;">
                <% for (update of omegaPsiUpdates) { %>
                    <div>
                        <a class="anchor" name="omegaPsi/<%=update.version %>"></a>
                        <input type="checkbox" class="dropdown-data" id="version-<%=update.version %>" name="menu" />
                        <label for="version-<%=update.version %>">
                            <h3><%=update.version %> - 
                                <span class="code-string"><%=update.date %>
                                </span> <span class="dropdown-arrow-right">&#9654;</span>
                                        <span class="dropdown-arrow-down">&#9660;</span>
                            </h3>
                        </label>
                        <ul class="dropdown-data">
                            <p><%=update.description %></p>
                            <h4>Features</h4>
                            <table class="download-table">
                                <tr>
                                    <th>Feature Type</th>
                                    <th>Feature</th>
                                </tr>
                                <% for (feature of update.features) { %>
                                    <tr>
                                        <td><%=feature.type %></td>
                                        <td><%=feature.feature %></td>
                                    </tr>
                                <% } %>
                            </table>
                        </ul>
                    </div>
                <% } %>
                </div>
            </div>

        </div>

        <script src="/script.js"></script>

    </body>
    <%- include('../../../../partials/footer.html') %>
</html>