<!DOCTYPE html>
<html>
    <head>
        <%- include ('../../../partials/head.html') %>
    </head>
    <body class="body">

        <!--Top Bar and Navigation Sidebar-->
        <%- include ('../../../partials/nav.html') %>

        <!--Content-->
        <div class="content">
            <%- include ('../../../partials/page.html') %>

            <a class="anchor" name="discordBots"></a>
            <h2 class="section">
                <span class="code-class"><code class="code-field">bots</code>.</span><code class="code-field">discordBots</code>();
            </h2>
            <div class="section-block">
                below are discord bots that i've worked on or collaborated on
                <ul style="list-style: none;">
                    <li><a href="/projects/bots/discordBots#omegaPsi" class="link">Omega Psi</a></li>
                </ul>
            </div>

        </div>

        <script src="/script.js"></script>
    </body>
    <%- include('../../../partials/footer.html') %>
</html>