<!DOCTYPE html>
<html>
    <head>
        <%- include ('../../partials/head.html') %>
    </head>
    <body class="body">

        <!--Top Bar and Navigation Sidebar-->
        <%- include ('../../partials/nav.html') %>

        <!--Content-->
        <div class="content">
            <%- include ('../../partials/page.html') %>

            <a name="bots"></a>
            <h2 class="section center">
                <a href="/projects/bots" class="section-link">
                    <span class="code-class"><code class="code-field">projects</code>.</span><code class="code-field">bots</code>();
                </a>
            </h2>

            <a name="games"></a>
            <h2 class="section center">
                <a href="/projects/games" class="section-link">
                    <span class="code-class"><code class="code-field">projects</code>.</span><code class="code-field">games</code>();
                </a>
            </h2>

            <a name="logic"></a>
            <h2 class="section center">
                <a href="/projects/logic" class="section-link">
                    <span class="code-class"><code class="code-field">projects</code>.</span><code class="code-field">logic</code>();
                </a>
            </h2>

            <a name="minecraftProjects"></a>
            <h2 class="section center">
                <a href="/projects/minecraftProjects" class="section-link">
                    <span class="code-class"><code class="code-field">projects</code>.</span><code class="code-field">minecraftProjects</code>();
                </a>
            </h2>

        </div>

        <script src="/script.js"></script>
    </body>
    <%- include('../../partials/footer.html') %>
</html>